---
import Wrapper from '@/layouts/Wrapper.astro'
import SideBar from '@/components/SideBar'
---

<Wrapper>
	<SideBar client:load />
	<main class="mx-auto max-w-5xl flex-1 py-4">
		<slot />
	</main>
</Wrapper>
