---
import { ViewTransitions } from 'astro:transitions'

import '@/styles/index.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Autocall Inside</title>

		<meta name="author" content="Khoi Le" />
		<ViewTransitions />
	</head>

	<body class="flex h-screen">
		<slot />
	</body>
</html>
