---
import Theme from './Theme.astro';
import Header from '../components/Header.astro';
import SideBar from '../components/SideBar.astro';
---

<Theme>
	<Header />

	<SideBar />

	<div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
		<div
			id="main-content"
			class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900 min-h-screen"
		>
			<slot />
		</div>
	</div>
</Theme>
