---
import Theme from './Theme.astro'
import SideBar from '../components/SideBar.tsx'
import '../styles/index.css'
---

<Theme>
	<SideBar client:load />
	<main class="mx-auto max-w-5xl flex-1 py-4"></main>
</Theme>
